streamlit==1.43.0           # UI framework
streamlit-option-menu
opencv-python-headless      # Image processing
numpy==1.24.3               # Using a more compatible version
face-recognition==1.3.0     # Facial recognition library
pandas==2.0.3               # Using a version compatible with numpy 1.24.3
openpyxl                    # Excel file support